article {
    blockquote.note {

        &.warning {
            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }
            }
        }

        &.danger {
            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }
            }
        }

        &.caution {
            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }
            }
        }

        &.tip {
            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }
            }
        }

        &.info {
            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }
            }
        }

        &.detail {
            // background-color: var(--ad-info-bg-color);
            color: var(--text-primary-color);

            i {
                cursor: pointer;
            }

            .content {

                @media (max-width: 480px) { 
                    width: 80%;
                }

                @media (min-width: 480px) { 
                    width: 90%;
                }


                .body.hidden {
                    display: none;
                }
            }
        }
    }
}