<!DOCTYPE html>
<html lang="{% block lang %}{% endblock lang %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    
    {% if page.extra.metas %}
    {% for meta in page.extra.metas %}
    <meta name="{{meta.name | default(value="")}}" property="{{meta.property | default(value="")}}" content="{{meta.content}}">
    {% endfor %}
    
    {% elif section.extra.metas %}
    {% for meta in section.extra.metas %}
    <meta name="{{meta.name | default(value="")}}" property="{{meta.property | default(value="")}}" content="{{meta.content}}">
    {% endfor %}
    {%endif %}

    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block desc %}{% endblock desc %}">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Jost&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/var.css">
    <link rel="stylesheet" href="/css/base.css">
    {% block css %}{% endblock css %}
    {% if config.extra.analytics == 'goatcounter' -%}
    <script data-goatcounter="https://{{ config.extra.goatcounter.tag }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {%- endif -%}
    {% if config.extra.analytics == 'umami' -%}
    <script async defer data-website-id="{{ config.extra.umami.website_id }}" src="{{ config.extra.umami.src }}"></script>
    {%- endif -%}
    {% if config.extra.analytics == 'busuanzi' -%}
    <script async defer src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    {%- endif -%}
    {% if config.extra.analytics == 'google_analytics' -%}
    <!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics.id }}"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '{{ config.extra.google_analytics.id }}');</script>
    {%- endif -%}
    {% if config.extra.analytics == 'cloudflare_web_analytics' -%}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ config.extra.cloudflare_web_analytics.token }}"}'></script><!-- End Cloudflare Web Analytics -->
    {%- endif -%}
    {% if config.extra.analytics == 'baidu_tongji' -%}
    <script>var _hmt = _hmt || [];(function() {  var hm = document.createElement("script");  hm.src = "https://hm.baidu.com/hm.js?{{ config.extra.baidu_tongji.token }}";  var s = document.getElementsByTagName("script")[0];   s.parentNode.insertBefore(hm, s);})();</script>
    {%- endif %}
    {# KaTeX support #}
    {% if page.extra.math %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
            // customised options
            // • auto-render specific keys, e.g.:
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ],
            // • rendering keys, e.g.:
            throwOnError : false
            });
        });
    </script>
    {% endif %}
</head>

<body>
    <script>if(localStorage.getItem('theme')=='dark'){document.body.classList.add('dark-mode');}</script>
    {% block content %}{% endblock content -%}
    <script src="/js/dark.js"></script>
    {%- block script %}{% endblock script %}

    {% set livereload = get_env(name="LIVERELOAD_HOST", default="localhost") -%}
    {% if livereload != "localhost" -%}
    <script>
        window.LiveReloadOptions = {
          https: true,
          host: '{{ livereload }}',
          port: 443,
        };
    </script>
    {% endif -%}

</body>

</html>